@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --main-color: #002856;
    --main-color-light: #03428a;
    --sec-color: #FFB71B;
    --text-white: #fff;
    --bg-white: #fff;
}

.bg-main {
    background: var(--main-color);
}
.bg-main-light {
    background: var(--main-color-light);
}

.sidebar li a, .sidebar li a i {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.sidebar li a:hover , .sidebar li a:hover i {
    color: var(--sec-color) !important;
}

.bg-sec {
    background: var(--sec-color);
}

.my-btn-hover {
    color: var(--text-white);
    background: var(--main-color-light);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.my-btn-hover:hover {
    background: var(--main-color);
}

.actived {
    color: var(--text-white);
    background: var(--main-color-light) !important;
}


#wrapper .sidebar .text-color-sec {
    color: var(--sec-color);
}

.table-dark {
    background: var(--main-color) !important;
}


 .seeAll {
    color: var(--main-color);
    
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

 .seeAll:hover {
    color: var(--sec-color);
    text-decoration: wavy;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    color: var(--sec-color) !important;
    background-size: 100%, 100%;
}
 
.container-fluid .container .row .d-flex .carousel button .next-icon, .prev-icon {
    background-color: var(--sec-color);
}

.sh {
    text-shadow: #002856 1px;
}