/* loader.css */
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modern-loader {
  border: 5px solid rgba(255, 140, 0, 0.3); /* Transparent orange border */
  border-radius: 50%;
  border-top: 5px solid rgba(255, 140, 0, 1); /* Solid orange-gold border */
  width: 60px;
  height: 60px;
  animation: spin 1.2s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
